@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Euclid-regular;
  src: url(./assets/EuclidCircularB-Regular-WebXL.woff2);
}

@font-face {
  font-family: Euclid-bold;
  src: url(./assets/EuclidCircularB-Bold-WebXL.woff2);
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Euclid-regular",sans-serif;
}

html,body{
  height: 100%;
  width: 100%;

}

.heading{
  font-family: "Euclid-bold",sans-serif;
}  

  /* #hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  #hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  } */

  #hamburger.active{
    background-color: #d0d6da;
  }
  
  #mobile-nav.active {
    transform: translateX(0);
  }

.dropdown {
  width: fit-content;
  position: absolute;
  margin: 0;
  top: 100%;
  right: -60px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000; /* Ensure dropdown appears above other elements */
}

.dropdown-items {
  position: relative;
  z-index: 999;
  backdrop-filter: blur(6px);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 13px 0px;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 12px;
  padding: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px; */
}

.dropdown-items a {
  padding: 10px;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
}

.dropdown-items a:hover{
  background: #97bad387;
  color: #037DD5;
}

/* Apply the hover on .all-pages and make the dropdown visible */
.all-pages:hover + .dropdown,
.dropdown:hover,
.dropdown-items a:hover {
  opacity: 1;
  visibility: visible;
}

.nav-item{
  font-family: "Euclid-regular";
  font-weight: 500;
}

.icon-play {
  width: 60px;
  height: 60px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(3, 125, 214);
  transition: background 200ms;
  border-radius: 100%;
}

.icon-play:hover {
  background: rgba(0, 0, 0, 0.3);
}

.companies{
  columns: 200px;
}

.dev-links a:hover{
  color: #037DD5;
}

.footer-links{
  font-size: 13px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a:hover{
  color: #037DD5;
}

#play-button{
  background-color: #0000008d;
  transition: all 0.3s ease;
}

#play-button:hover{
  background-color: #00000044;

}

.swiper-container {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  padding: 40px;
}

.swiper-pagination-bullet-active{
  background: white !important;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Style the checkmark */
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid gray;
}

/* Change color when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #2563EB;
}

/* Tick mark */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  opacity: 0;
  transform: rotate(45deg);
  transition: opacity 0.1s;
}

/* Show tick mark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  opacity: 1;
}

.import-btn:hover {
  box-shadow: 0 2px 8px 0 #43aefc33;
}

.improve-ul li{
  display: flex;
  gap: 3px;
  margin-bottom: 10px;
}


@media (max-width:640px) {
  .companies{
    columns: 150px;
  }

  .footer-links{
    font-size: 16px;
  }
}